{{template "base" .}}

{{define "title"}}
Contato
{{end}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-5">Página de Contato</h1>
            <p class="lead">Para qualquer dúvida ou informação, por favor, entre em contato comigo através do e-mail abaixo:</p>
            <p>Email: mariojralves2006@gmail.com</p>
        </div>
    </div>
</div>
{{end}}