{{template "base" .}}

{{define "title"}}
Login
{{end}}


{{define "content"}}
<h1>Login Page</h1>
<div>
    <ul>
        {{range .Errors}}
        <li>{{.}}</li>
        {{end}}
    </ul>
</div>
<form action="/login" method="post">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <button type="submit" id="button">Login</button>
</form>
{{end}}

{{define "scripts"}}
    <script>
        document.getElementById("button").addEventListener("click", event => {
            event.preventDefault()
            const email = document.getElementById("email").value
            const password = document.getElementById("password").value
            fetch("/login",{
                method: "POST",
                headers: {
                    Accept: "application/json",
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({email, password})
            }).then(res => res.json())
            .then((data) => {console.log(data)
            if(data.success){
                setTimeout(() => {
                console.log("Redirecionando para a home")
                window.location.href = "/"
            }, 2000)
        }
    })
}
        );
    </script>
{{end}}