{{template "base" .}}

{{define "title"}}
Post
{{end}}


{{define "content"}}
<h1>Post Page</h1>
<p>Bem vindo, {{ .User.Email}}</p>


<h3>Lista de Posts</h3>
<ul>
{{range .Posts}}
    <div class="col-md-6">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0">
              <a class="text-dark" href="#">{{.Title}}</a>
            </h3>
            <div class="mb-1 text-muted">{{.CreatedAt}}</div>
            <p class="card-text mb-auto">{{.Content}}</p>
            <a href="#">Continue lendo</a>
          </div>
        </div>
    </div>

{{end}}
</ul>

<a href="/post/new">New Post</a>
{{end}}
