{{template "base" .}}

{{define "title"}}
Sign Up
{{end}}


{{define "content"}}
<h1>Sign Up Page</h1>

<div class="container col-5">
    <form id="form" action="#" method="post" class="m-5">
      <div id="errors" class="alert alert-danger" hidden>Cadastro inválido</div>
      <div id="success" class="alert alert-success" hidden>
        Cadastro efetuado com sucesso!
      </div>
      <h1>Signup</h1>
      <div class="mb-3 row">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="email" id="email" name="email" class="form-control" />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
          />
        </div>
      </div>
      <div class="row col-3 offset-2">
        <button id="button" type="submit" class="btn btn-primary">Send</button>
      </div>
    </form>
  </div>
{{end}}

{{define "scripts"}}
    <script>
        document.getElementById("button").addEventListener("click", event => {
            event.preventDefault()
            const email = document.getElementById("email").value
            const password = document.getElementById("password").value
            fetch("/signup",{
                method: "POST",
                headers: {
                    Accept: "application/json",
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({email, password})
            }).then(res => res.json())
            .then((data) => {console.log(data)
            if(data.success){
                data = document.getElementById("success")
                data.hidden = false
                setTimeout(() => {
                console.log("Redirecionando para a home")
                window.location.href = "/"
            }, 2000)
        } else { data = document.getElementById("errors")
        data.hidden = false
        }
    })
}
        );
    </script>
{{end}}